<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huanzi.qch.springbootmybatis.mapper.DroneInfoMapper">

    <insert id="insert" parameterType="droneInfo">
        insert into drone_info(id,name,image,state,can_attack,can_takeover,whitelisted,attacking,created_time)
                    value(#{id},#{name},#{image},#{state},#{canAttack}, #{canTakeover},#{whitelisted},#{attacking},#{createdTime})
    </insert>

    <select id="select" parameterType="droneInfo" resultType="droneInfo">
        select * from drone_info where 1=1
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
    </select>

    <delete id="delete" parameterType="droneInfo">
        delete from drone_info where id = #{id}
    </delete>

    <update id="update" parameterType="droneInfo">
        update drone_info set
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="state != null and state != ''">
            state = #{state},
        </if>
        <if test="canAttack != null and canAttack != ''">
            can_attack = #{canAttack},
        </if>
        <if test="canTakeover != null and canTakeover != ''">
            can_takeover = #{canTakeover},
        </if>
        update_time =now()
        where id = #{id}
    </update>

</mapper>