<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huanzi.qch.springbootmybatis.mapper.DroneInfoMapper">

    <insert id="insert" parameterType="droneInfo">
        insert into drone_info(id,name,image,can_attack,can_takeover,whitelisted)
                    value(#{id},#{name},#{image},#{canAttack}, #{canTakeover},#{whitelisted})
    </insert>

    <select id="select" parameterType="cn.huanzi.qch.springbootmybatis.pojo.DroneInfo"
            resultType="cn.huanzi.qch.springbootmybatis.pojo.DroneInfo">
        select * from drone_info where 1=1
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
    </select>

</mapper>